<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3 col-xs-offset-3 col-sm-offset-3">
        <div class="x_panel">
            <div class="x_title">
                <h2>Disclaimer </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p>These test vectors are being made available under the Creative Commons
                    Attribution-NonCommercial-NoDerivatives 4.0 International license. DASH-IF considers the use of
                    these
                    test vectors for the development of commercial DASH clients and services to be a non-commercial use
                    under the Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International license
                    provided
                    that the test vectors themselves are not distributed for commercial purposes.</p>

                <div>
                    <a class="btn btn-success submit" id="disclaimer-agree-button">I agree</a>
                </div>

            </div>
        </div>
    </div>
</div>