<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>FAQ </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="accordion" id="accordion5" role="tablist" aria-multiselectable="true">
                    <div class="panel">
                        <a class="panel-heading" role="tab" data-toggle="collapse"
                           data-parent="#accordion5" href="#collapseOne5" aria-expanded="true"
                           aria-controls="collapseOne">
                            <h4 class="panel-title">What is the intention of this site</h4>
                        </a>
                        <div id="collapseOne5" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                The goal of the VRIF Test assets database is to establish a framework such
                                that the VRIF interoperability ecosystem can grow in scale.
                                This includes:
                                <ul>
                                    <li>Test contents/Source content collection</li>
                                    <li>Test vectors for the test contents.</li>
                                    <li>Dynamic management of the attributes of all the models</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
                    <div class="panel">
                        <a class="panel-heading" role="tab" id="headingOne1" data-toggle="collapse"
                           data-parent="#accordion1" href="#collapseOne1" aria-expanded="true"
                           aria-controls="collapseOne">
                            <h4 class="panel-title">What is the structure of the datatase</h4>
                        </a>
                        <div id="collapseOne1" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                The database is structured as follows. Each
                                testvector is assigned to one or more testcontents. All of the aforementioned entities have
                                dynamic attributes. This means authorized users can dynamically add and remove
                                attributes from
                                testcontents and testvectors.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="accordion2" role="tablist" aria-multiselectable="true">
                    <div class="panel">
                        <a class="panel-heading" role="tab" data-toggle="collapse"
                           data-parent="#accordion2" href="#collapseOne2" aria-expanded="true"
                           aria-controls="collapseOne">
                            <h4 class="panel-title">How to use the page</h4>
                        </a>
                        <div id="collapseOne2" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>The main purpose of this page is to give a structured overview of the available
                                    testvectors. The list of the current testcontents and
                                    testvectors
                                    is
                                    accessible for everyone. In addition, authorized users are allowed to add, edit and
                                    remove entries for each of the entities.</p>
                                <p>The list view offers different contents related to attribute selection and search and
                                    filter functionality. It is possible to toggle certain columns in order to show less
                                    information in the respective tables. Moreover a column specific search can be
                                    performed for each of the attributes.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="accordion3" role="tablist" aria-multiselectable="true">
                    <div class="panel">
                        <a class="panel-heading" role="tab" data-toggle="collapse"
                           data-parent="#accordion3" href="#collapseOne3" aria-expanded="true"
                           aria-controls="collapseOne">
                            <h4 class="panel-title">How can I add / edit / remove new elements</h4>
                        </a>
                        <div id="collapseOne3" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                Add, edit and remove functions are only available for authorized users. In order to add
                                a new element select the type of the element in left menu and click on "Create". Fill
                                out the form and click on "Submit".
                                To edit or remove an element select "My elements" and click on edit/remove. You might
                                need to scroll to the right in order to see the specific buttons.
                            </div>
                        </div>
                    </div>
                </div>
                <!--div class="accordion" id="accordion4" role="tablist" aria-multiselectable="true">
                    <div class="panel">
                        <a class="panel-heading" role="tab" data-toggle="collapse"
                           data-parent="#accordion4" href="#collapseOne4" aria-expanded="true"
                           aria-controls="collapseOne">
                            <h4 class="panel-title">How can I import testvectors</h4>
                        </a>
                        <div id="collapseOne4" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                Currently it is not possible to import testvectors from a csv or textfile. However the
                                UI offers a way to import attributes from a manifest file. In order to do that click on
                                "Testvector", "Create" and enter the manifest URL in the URL field. Afterwards click on
                                "Import Data". The fields below will be auto populated with the values from the
                                manifest. You can edit them afterwards and click on "Submit" to add the testvector to
                                the database.
                            </div>
                        </div>
                    </div>
                </div-->
                <div class="accordion" id="accordion6" role="tablist" aria-multiselectable="true">
                    <div class="panel">
                        <a class="panel-heading" role="tab" data-toggle="collapse"
                           data-parent="#accordion6" href="#collapseOne6" aria-expanded="true"
                           aria-controls="collapseOne">
                            <h4 class="panel-title">How can I add /edit /remove attributes</h4>
                        </a>
                        <div id="collapseOne6" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                Add, edit and remove functions are only available for authorized users. In order to add
                                a new attribute select "Attributes" and click on "Create". Fill
                                out the form and click on "Submit".
                                To edit or remove an element select "My Attributes" and click on edit/remove.
                                <p>Each attribute has a specific type to which it belongs. Moreover, attributes can be
                                    set
                                    to inactive in which case they will not be visible in the list of the specific type
                                    of
                                    element they belong to. Furthermore, you can assign a default value for each
                                    attribute.
                                    Existing instances of the specific type of element will automatically be populated
                                    with
                                    the new attribute and the default value.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="accordion7" role="tablist" aria-multiselectable="true">
                    <div class="panel">
                        <a class="panel-heading" role="tab" data-toggle="collapse"
                           data-parent="#accordion7" href="#collapseOne7" aria-expanded="true"
                           aria-controls="collapseOne">
                            <h4 class="panel-title">How can I report issues</h4>
                        </a>
                        <div id="collapseOne7" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p> If any issue is noticed, please file an issue report <!--a
                                        href="https://github.com/Dash-Industry-Forum/Test-Vectors/issues"
                                        target="_blank">here</a-->,
                                    including an informal description of the issue (GitHub user
                                    account
                                    required
                                    for creating issue). Github link is provided at the bottom of the main page. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--div class="accordion" id="accordion8" role="tablist" aria-multiselectable="true">
                    <div class="panel">
                        <a class="panel-heading" role="tab" data-toggle="collapse"
                           data-parent="#accordion8" href="#collapseOne8" aria-expanded="true"
                           aria-controls="collapseOne">
                            <h4 class="panel-title">How can I download test vectors</h4>
                        </a>
                        <div id="collapseOne8" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>Indexing services are available for the test vector repository. The highest level is
                                    accessible here
                                    <a href="http://dash.edgesuite.net/dash264/" target="blank">http://dash.edgesuite.net/dash264/</a>
                                    and one can browse down from there. </p>
                                <p>Use this site to understand which vectors are
                                    located where:
                                    <a href="http://dashif.org/testvectors/" target="blank">http://dashif.org/testvectors/</a>
                                </p>
                                <p>You can use WGET (or other downloading systems) to grab a complete copy of all
                                    vectors.
                                    wget -r --no-parent <a href="http://dash.edgesuite.net/dash264/TestCases">http://dash.edgesuite.net/dash264/TestCases</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div-->
                <!--div class="accordion" id="accordion9" role="tablist" aria-multiselectable="true">
                    <div class="panel">
                        <a class="panel-heading" role="tab" data-toggle="collapse"
                           data-parent="#accordion9" href="#collapseOne9" aria-expanded="true"
                           aria-controls="collapseOne">
                            <h4 class="panel-title">How can open source tools be used to create DASH-IF content?</h4>
                        </a>
                        <div id="collapseOne9" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>Open Source encoders packaged with FFmpeg and MP4Box DASH encoder can be used to generate DASH (test) 
                                content that covers a wide range of DASH features. A few resources on the web that document how to use 
                                these tools is gathered in the following (status May 2017):
                                </p>
                                <ul>
                                <li>"DASH Support in MP4Box" :
                                    <a href="https://gpac.wp.imt.fr/mp4box/dash/" target="blank"> https://gpac.wp.imt.fr/mp4box/dash/</a>
                                </li>
                                <li>"Radiant Media Player: Working with MP4Box" : 
                                    <a href="https://www.radiantmediaplayer.com/guides/working-with-mp4box.html" target="blank">  https://www.radiantmediaplayer.com/guides/working-with-mp4box.html</a>
                                </li>
                                <li>"MPEG-DASH Content Generation with MP4Box and x264"  :
                                    <a href="https://bitmovin.com/mp4box-dash-content-generation-x264/" target="blank">  https://bitmovin.com/mp4box-dash-content-generation-x264/</a>
                                </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div-->
            </div>
        </div>
    </div>
</div>
