<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Add Testvector </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br/>
                <form id="create-form" class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="name" required="required" name="name"
                                   class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <!--div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Active</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="radio">
                                <label>
                                    <input type="radio" checked="" value="true" id="activeTrue" name="active"> Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" value="false" id="activeFalse" name="active"> No
                                </label>
                            </div>
                        </div>
                    </div-->
                    
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="url">URL
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="url" required="required" name="url"
                                   class="form-control col-md-7 col-xs-12">
                        </div>
                        <!--div class="col-md-3 col-sm-3 col-xs-12">
                            <a class="btn btn-success submit" id="import-attributes-button">Import Data</a>
                        </div-->
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Testcontents</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="select2_single form-control" multiple="multiple" tabindex="-1"
                                    id="testcontent-select" required="">
                                {{#testcontents}}
                                <option value="{{_id}}">{{name}}</option>
                                {{/testcontents}}
                            </select>
                        </div>
                    </div>
                    
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            <button class="btn btn-success submit" id="create-button">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".select2_single").select2({
            placeholder: "Select testcontents"
        });
    });
</script>