<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Testvector : {{testvector.name}}
                    <small>Details</small>
                </h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="col-md-12 col-sm-12 col-xs-12">
                </div>

                <section class="panel">

                    <div class="x_title">
                        <h2>Attributes</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">

                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Name</th>
                                    <td>{{testvector.name}}</td>
                                </tr>
                                <tr>
                                    <th>URL</th>
                                    <td><a href="{{testvector.url}}">{{testvector.url}}</a></td>
                                </tr>
                                <tr>
                                    <th>Created at</th>
                                    <td>{{testvector.createdAt}}</td>
                                </tr>
                                <tr>
                                    <th>Last updated at</th>
                                    <td>{{testvector.updatedAt}}</td>
                                </tr>
                                {{#testvector.attributeInstances}}
                                <tr>
                                    <th>{{attribute.uiName}}</th>
                                    <td>{{value}}</td>
                                </tr>
                                {{/testvector.attributeInstances}}
                                </tbody>
                            </table>
                        </div>


                    </div>

                </section>

                <!-- end project-detail sidebar -->

            </div>
        </div>
    </div>
</div>