<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Testvector List </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="filter_columns">
                    Select columns:
                </div>
                <table class="table table-striped dataTable" id="datatable" width="100%">
                    <thead>
                    <th>Testvector</th>
                    <th>Feature Groups</th>
                    <th>Features</th>
                    <th>Testcases</th>
                    <th>URL</th>
                    <th>Play</th>
                    {{#attributes}}
                    {{#if active}}
                    <th>{{uiName}}</th>
                    {{/if}}
                    {{/attributes}}
                    {{#if isAdmin}}
                    <th>Created at</th>
                    <th>Updated at</th>
                    {{/if}}
                    </thead>
                    <tfoot>
                    <th>Testvector</th>
                    <th>Feature Groups</th>
                    <th>Features</th>
                    <th>Testcases</th>
                    <th>URL</th>
                    <th>Play</th>
                    {{#attributes}}
                    {{#if active}}
                    <th>{{uiName}}</th>
                    {{/if}}
                    {{/attributes}}
                    {{#if isAdmin}}
                    <th>Created at</th>
                    <th>Updated at</th>
                    {{/if}}
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

