<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Feature List </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="filter_columns">
                    Select columns:
                </div>
                <table class="table table-striped dataTable" id="datatable" width="100%">
                    <thead>
                    <th>Name</th>
                    <th>Feature Group</th>
                    {{#attributes}}
                    {{#if active}}
                    <th>{{uiName}}</th>
                    {{/if}}
                    {{/attributes}}
                    {{#if isAdmin}}
                    <th>Created at</th>
                    <th>Updated at</th>
                    {{/if}}
                    </thead>
                    <tfoot>
                    <th>Name</th>
                    <th>Feature Group</th>
                    {{#attributes}}
                    {{#if active}}
                    <th>{{uiName}}</th>
                    {{/if}}
                    {{/attributes}}
                    {{#if isAdmin}}
                    <th>Created at</th>
                    <th>Updated at</th>
                    {{/if}}
                    </tfoot>
                    <tbody>
                    {{#printableElems}}
                    <tr>
                        <td><a href="#feature/details/{{_id}}">{{name}}</a></td>
                        <td>{{featureGroup.name}}</td>
                        {{#attributes}}
                        {{#if attribute.active}}
                        <td>{{value}}</td>
                        {{/if}}
                        {{/attributes}}
                        {{#if ../isAdmin}}
                        <td>{{createdAt}}</td>
                        <td>{{updatedAt}}</td>
                        {{/if}}
                    </tr>
                    {{/printableElems}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

